In [17]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/sushilkumar/Desktop/Guvi Mini project/.venv/lib/python3.13/site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

## connection creation

In [18]:
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    user='root',
    password='Sushil46',
    host='localhost',
    database='zomato'
)

cursor = connection.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS zomato")
connection.close()

## customer table creation

In [19]:
query = '''CREATE TABLE IF NOT EXISTS zomato.customers (
    customer_id VARCHAR(255) PRIMARY KEY, 
    name VARCHAR(255),
    email VARCHAR(255),
    phone VARCHAR(255),
    location VARCHAR(255),
    signup_date DATETIME,
    is_premium BOOLEAN,
    preferred_cuisine VARCHAR(255),
    total_orders INT,
    average_rating FLOAT
);'''

connection = mysql.connector.connect(
    user='root',
    password='Sushil46',
    host='localhost',
    database='zomato'
)
cursor = connection.cursor()
cursor.execute(query)
connection.close()

## Inserting values to the customer table from CSV

In [20]:
connection = mysql.connector.connect(
    user='root',
    password='Sushil46',
    host='localhost',
    database='zomato'
)
cursor = connection.cursor()

import pandas as pd
customers = pd.read_csv('updated_customers.csv')
# SQL query to insert data
insert_query = '''
INSERT IGNORE INTO zomato.customers 
(customer_id, name, email, phone, location, signup_date, is_premium, preferred_cuisine, total_orders, average_rating)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
'''

# Iterate through the rows of the DataFrame and insert into the database
for index, row in customers.iterrows():
    cursor.execute(insert_query, (
        row['customer_id'], row['name'], row['email'], row['phone'],
        row['location'], row['signup_date'], row['is_premium'], 
        row['preferred_cuisine'], row['total_orders'], row['average_rating']
    ))

connection.commit()
connection.close()

## restaurants table creation

In [21]:
query = '''CREATE TABLE IF NOT EXISTS zomato.restaurants (
    restaurant_id VARCHAR(255) PRIMARY KEY,
    name VARCHAR(255),
    cuisine_type VARCHAR(255),
    location VARCHAR(255),
    owner_name VARCHAR(255),
    `average_delivery_time(min)` INT,
    contact_number VARCHAR(255),
    rating FLOAT,
    total_orders INT,
    is_active VARCHAR(255)
);'''

connection = mysql.connector.connect(
    user='root',
    password='Sushil46',
    host='localhost',
    database='zomato'
)
cursor = connection.cursor()
cursor.execute(query)
connection.close()

## Inserting values to the restaurants table from CSV

In [22]:
# Read data from the CSV file
restaurants = pd.read_csv('updated_restaurants.csv')
# Rename column in DataFrame to match the database column name
if 'average_delivery_time(min)' in restaurants.columns:
    restaurants.rename(columns={'average_delivery_time(min)': 'average_delivery_time(min)'}, inplace=True)

# Establish SQL connection again for data insertion
connection = mysql.connector.connect(
    user='root',
    password='Sushil46',
    host='localhost',
    database='zomato'
)
cursor = connection.cursor()

# SQL query for inserting data
insert_query = '''
INSERT IGNORE INTO zomato.restaurants 
(restaurant_id, name, cuisine_type, location, owner_name, `average_delivery_time(min)`, contact_number, rating, total_orders, is_active)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
'''

# Iterate through the rows of the DataFrame and insert into the database
for index, row in restaurants.iterrows():
    cursor.execute(insert_query, (
        row['restaurant_id'], row['name'], row['cuisine_type'], row['location'], row['owner_name'], 
        row['average_delivery_time(min)'], row['contact_number'], row['rating'],
        row['total_orders'], row['is_active']
    ))

# Commit and close the connection
connection.commit()
connection.close()

## order table creation

In [23]:
query = '''CREATE TABLE IF NOT EXISTS zomato.orders (
    order_id VARCHAR(255) PRIMARY KEY,
    customer_id VARCHAR(255),
    restaurant_id VARCHAR(255),
    order_date DATETIME,
    delivery_time TIME,
    status VARCHAR(255),
    total_amount FLOAT,
    payment_mode VARCHAR(255),
    discount_applied INT,
    feedback_rating INT,
    FOREIGN KEY (customer_id) REFERENCES zomato.customers(customer_id),
    FOREIGN KEY (restaurant_id) REFERENCES zomato.restaurants(restaurant_id)
);'''

# Connect to the database and create the table
connection = mysql.connector.connect(
    user='root',
    password='Sushil46',
    host='localhost',
    database='zomato'
)
cursor = connection.cursor()
cursor.execute(query)
connection.close()

## Inserting values to the order table from CSV

In [24]:
connection = mysql.connector.connect(
    user='root',
    password='Sushil46',
    host='localhost',
    database='zomato'
)
cursor = connection.cursor()

orders = pd.read_csv('updated_orders.csv')
# SQL query for inserting data
insert_query = '''
INSERT IGNORE INTO zomato.orders 
(order_id, customer_id, restaurant_id, order_date, delivery_time, status, total_amount, payment_mode, discount_applied, feedback_rating)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
'''

# Iterate through the rows of the DataFrame and insert into the database
for index, row in orders.iterrows():
    cursor.execute(insert_query, (
        row['order_id'], row['customer_id'], row['restaurant_id'], row['order_date'],
        row['delivery_time'], row['status'], row['total_amount'],
        row['payment_mode'], row['discount_applied'], row['feedback_rating']
    ))

connection.commit()
connection.close()

## delivery person  table creation

In [25]:
query = '''CREATE TABLE IF NOT EXISTS zomato.delivery_persons (
    delivery_person_id VARCHAR(255) PRIMARY KEY,
    name VARCHAR(255),
    contact_number VARCHAR(255),
    vehicle_type VARCHAR(255),
    total_deliveries INT,
    average_rating FLOAT,
    location VARCHAR(255)
);'''

# Connect to the database and create the table
connection = mysql.connector.connect(
    user='root',
    password='Sushil46',
    host='localhost',
    database='zomato'
)
cursor = connection.cursor()
cursor.execute(query)
connection.close()

## Inserting values to the delivery person table from CSV

In [26]:
connection = mysql.connector.connect(
    user='root',
    password='Sushil46',
    host='localhost',
    database='zomato'
)
cursor = connection.cursor()

# Load delivery persons data from a CSV file
delivery_persons = pd.read_csv('updated_delivery_persons.csv')

# SQL query for inserting data
insert_query = '''
INSERT IGNORE INTO zomato.delivery_persons 
(delivery_person_id, name, contact_number, vehicle_type, total_deliveries, average_rating, location)
VALUES (%s, %s, %s, %s, %s, %s, %s)
'''

# Iterate through the rows of the DataFrame and insert into the database
for index, row in delivery_persons.iterrows():
    cursor.execute(insert_query, (
        row['delivery_person_id'], row['name'], row['contact_number'], row['vehicle_type'],
        row['total_deliveries'], row['average_rating'], row['location']
    ))

connection.commit()
connection.close()

## deliveries table creation

In [27]:
query = '''CREATE TABLE IF NOT EXISTS zomato.deliveries (
    delivery_id VARCHAR(255) PRIMARY KEY,
    order_id VARCHAR(255),
    delivery_person_id VARCHAR(255),
    delivery_status VARCHAR(255),
    `distance(km)` INT,
    `delivery_time(min)` INT,
    `estimated_time(min)` INT,
    delivery_fee INT,
    vehicle_type VARCHAR(255),
    FOREIGN KEY (order_id) REFERENCES zomato.orders(order_id),
    FOREIGN KEY (delivery_person_id) REFERENCES zomato.delivery_persons(delivery_person_id)
);'''

# Connect to the database and create the table
connection = mysql.connector.connect(
    user='root',
    password='Sushil46',
    host='localhost',
    database='zomato'
)
cursor = connection.cursor()
cursor.execute(query)
connection.close()

## Inserting values to the deliveries table from CSV

In [28]:
deliveries = pd.read_csv('updated_deliveries.csv')
if 'distance(km)' in deliveries.columns:
    deliveries.rename(columns={'distance(km)': 'distance_km'}, inplace=True)
if 'delivery_time(min)' in deliveries.columns:
    deliveries.rename(columns={'delivery_time(min)': 'delivery_time'}, inplace=True)
if 'estimated_time(min)' in deliveries.columns:
    deliveries.rename(columns={'estimated_time(min)': 'estimated_time'}, inplace=True)

connection = mysql.connector.connect(
    user='root',
    password='Sushil46',
    host='localhost',
    database='zomato'
)
cursor = connection.cursor()

# SQL query for inserting data
insert_query = '''
INSERT IGNORE INTO zomato.deliveries 
(delivery_id, order_id, delivery_person_id, delivery_status, `distance(km)`, `delivery_time(min)`, `estimated_time(min)`, delivery_fee, vehicle_type)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
'''

# Iterate through the rows of the DataFrame and insert into the database
for index, row in deliveries.iterrows():
    cursor.execute(insert_query, (
        row['delivery_id'], row['order_id'], row['delivery_person_id'], row['delivery_status'],
        row['distance_km'], row['delivery_time'], row['estimated_time'], row['delivery_fee'],
        row['vehicle_type']
    ))

# Commit and close the connection
connection.commit()
connection.close()